{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'groceries/groceries.css' %}">
<script src="{% static 'groceries/groceries.js' %}"></script>
<script src="{% static 'groceries/list_edit.js' %}"></script>

<h1 class="header">Einkausliste</h1>
<div style="position: relative; height: 100%"> {% comment %} modal anchor point {% endcomment %}
  <div id="modal-background">
    <div id="modal"></div>
  </div>
  <div class="page">
    {% comment %} <input
      id="get_listed_groceries_url"
      hidden
      value="{% url 'groceries:items-list' %}"
    >{% endcomment %}
    <div class="button-container">
      {% include 'groceries/buttons/icon_button.html' with icon_classes="fa-solid fa-square-plus" %}
    </div>    
    <div class="paper">
      <ul id="groceries-list">
        {% for item in items %}
          <li href="/" class="active">{{ item.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="button-container">
      {% include 'groceries/buttons/icon_button.html' with icon_classes="fa-solid fa-pencil" on_click="openListEdit()" %}
    </div>
  </div>
</div>

<template id="edit-template">
  <div class="center-middle flex-column">
    {% with pk_placeholder=0 %}
      <input
        id="select_item_url"
        hidden
        value="{% url 'groceries:items-on-list' pk=pk_placeholder %}"
        x-pkPlaceholder={{ pk_placeholder }}
      >
    {% endwith %}
    <input id="edit-input" x-url="{% url 'groceries:items-selectable' %}">
    <div id="item-options" class="flex-column"></div>
  </div>
</template>
{% endblock %}
