{% extends 'base/base.html' %}
{% load static %}

{% block main %}
<link rel="stylesheet" href="{% static 'groceries/groceries.css' %}">
{% comment %} define js files as modules to enable imports inside those files {% endcomment %}
<scriptt type="module" src="{% static 'groceries/groceries.js' %}"></scriptt>
<script type="module" src="{% static 'groceries/list_edit.js' %}"></script>

<h1 class="header">Einkausliste</h1>
<div style="position: relative; height: 100%"> {% comment %} modal anchor point {% endcomment %}
  <div id="modal-background">
    <div id="modal"></div>
  </div>
  <div class="page">
    <input
      id="finish-cart-url"
      hidden
      value="{% url 'groceries:items-finsih' %}"
    >
    <div class="paper">
      <ul id="groceries-list">
        {% for item in items %}
          <li href="/" class="active" x-id={{ item.id }}>{{ item.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="button-container">
      {% include 'groceries/buttons/icon_button.html' with id="finish-btn" icon_classes="fa-solid fa-check" %}
      {% include 'groceries/buttons/icon_button.html' with id="edit-btn"   icon_classes="fa-solid fa-pencil" %}
      {% include 'groceries/buttons/icon_button.html' with                 icon_classes="fa-solid fa-circle-plus" %}
    </div>    
  </div>
</div>

<template id="edit-template">
  <div class="center-middle flex-column">
    {% with pk_placeholder=0 %}
      <input
        id="select_item_url"
        hidden
        value="{% url 'groceries:items-on-list' pk=pk_placeholder %}"
        x-pkPlaceholder={{ pk_placeholder }}
      >
    {% endwith %}
    <input id="edit-input" x-url="{% url 'groceries:items-selectable' %}">
    <div id="item-options" class="flex-column"></div>
  </div>
</template>
{% endblock %}
